# Python / Django
backend/clubsync_venv/
backend/__pycache__/
backend/*/migrations/__pycache__/
backend/scheduler/migrations/*.pyc
backend/*/migrations/*
*.pyc
__pycache__/
db.sqlite3
*.log
.env

# IDE
.idea/
.vscode/

*.swp
*.swo

# macOS
.DS_Store

CLAUDE.md
docs/scheduler_design.md
docs/UI_design.md
docs/eventFormModal.md
docs/manual_test_cases.md
docs/meeting_logs.md
docs/modal_app_integration.md
docs/page_layout.md

